/*
 * hc08.css
 */
body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

#emulator-screen, .buttonspanel, #msgDiv {
  /* width: 79em; */
  width: 53.5em;
}

#emulator-screen {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-size: 14pt;
  font-family: Courier, monospace;
  height: 24.5em;
  background-color: #4040c0;
}

.pane {
  float: left;
  margin: 0;
  padding: 0;
}

.panel {
  margin-left: 1em;
  color: white;
}

.window {
  background-color: #efefff;
  color: black;
  overflow: hidden;
  /* width: 38em; */
  width: 25em;
  line-height: 90%;
  padding-top: 5px;
  padding-left: 5px;
}

#codeWindow {
  height: 15em;
  line-height: 106%;
}

#registerWindow {
  height: 1em;
}

.reverse {
  background-color: grey;
  color: white;
}

#SerialIn {
  font-size: 14pt;
  font-family: Helvetica, monospace;
  height: 1em;
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
}
#SerialInWindow {
  background: white;
  color: blue;
}

#serialInCursor {
  animation: blinker 1.5s linear infinite;
  color: black;
  background-color: cyan;
  text-decoration: underline;
}
@keyframes blinker {
  50% {
      opacity: 0;
  }
}

#SerialInOverflow {
  background-color: yellow;
}

#SerialOutWindow {
  padding-top: 0;
  height: 4em;
}

#dataWindowHead {
  background-color: white;
  color: black;
  padding-left: 5px;
}

#dataHead {
  margin-top: 0;
  margin-bottom: 0;  
}

#dataWindow {
  height: 12em;
  line-height: 110%;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
}

.registers {
  background-color: blue;
  color: white;
}

.i_o {
  background-color: cyan;
  color: black;
}

.rd_mem {
  background-color: cyan;
  color: black;
}

.rd_pair {
  background-color: grey;
  color: cyan;
}

.rdwr_pair {
  background-color: black;
  color: green;
}

#commandWindow {
  height: 5em;
}

#i_oPanel {
  margin-top: 10px;
}

#i_oWindow {
  height: 5em;
}

.i_oPort {
  float: left;
  width: 8em;
}

.lines {
  margin: 0;
}

.displayline {
  background-color: black;
  color: white;
  position: absolute;
  /* margin-left: 21em; */
  margin-left: 12em;
  margin-top: -2.1em;
}

.buttonspanel {
  font-size: 14pt;
  font-family: Helvetica, monospace;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

#msgDiv {
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid grey;
  font-size: 14pt;
  font-family: Helvetica, monospace;
  height: 10em;
  overflow-x: hidden;
  overflow-y: scroll;
}

#drop_zone {
  display: inline;
  border: 1px solid black;
  height: 2em;
  padding: 0.5em 5em;
  cursor: pointer;
}

#file-input {
  position: absolute;
  visibility: hidden;
}

#msgPanel {
  padding: 0.5em;
}

.message {
  font-weight: bold;
}

.error {
  color: #800000;
  font-weight: bold;
}

.ledimg {
  height: 14pt;
  width: auto;
  margin-right:2px;
}

.colorNormal {
}

.colorRed {
  color: red;
}

.colorRedLed {
}

.colorYellowLed {
}

.colorGrenLed {
}

.colorDisplay {
}
