/* Basic styling */
.container {
    padding: 20px;
}

.section {
}

/* Add more specific styling for each section if needed */

.memory-section {
    /* Memory section styling */
}

.code-section {
    /* Code section styling */
}

.command-section {
    /* Command section styling */
}

.registers-section {
    /* Registers section styling */
}

.io-section {
    /* I/O section styling */
}

/* Add responsiveness as needed */
